.listing {
    text-align: center;
    /* background-color: #f4f7fc; */
}

.css-wjh20t-MuiPagination-ul {
    margin: 50px !important;
    justify-content: center;
}

.css-1mtig89-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #fdc72f !important;
}

.listing h1 {
    font-size: 50px;
    font-weight: 600;
    padding: 50px 20px;
}

.card {
    margin: 30px 0;
    padding: 50px 60px;
    text-align: left;
    border-radius: 18px;
}

.card .row {
    align-items: center;
}

.card .row div {
    padding: 10px 0;
}

.btn {
    background-color: #fdc72f;
    color: #fff;
    border-radius: 100px;
    /* margin-top: 10px; */
}

.btn:hover {
    background-color: #ffbb00;
    color: #fff;
}

.card .card {
    box-shadow: 2px 2px 4px rgba(216, 216, 216, 0.474);
}

.card .card p {
    font-size: 15px;
    margin-bottom: 8px;
}

.card .card .row {
    margin: 20px 0;
    padding: 0;
}

.row>* {
    padding: 0;
}

@media(max-width: 800px) {
    .card {
        padding: 30px;
    }
}